<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">

  <title>Frontend Mentor | Advice generator app</title>

  <link href="style.css" rel="stylesheet" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap" rel="stylesheet">
</head>

<body>

  <div id="container">
    <small class="adviceNumber">ADVICE #<%= adviceNumber %></small>
    <p class="quote">
      <%= pieceOfAdvice %>
    </p>
    <img src="pattern-divider-desktop.svg" class="divider"/>
    <div class="dice-box">
    <form action="/" method="post">
      <button type="submit" class="diceButton"></button>
    </form>
    </div>
  </div>
</body>

</html>
